@font-face {
  font-family: 'MaruBuri-Regular';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/MaruBuri-Regular.ttf")
}
@font-face {
  font-family: 'MaruBuri-semiBold';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/MaruBuri-SemiBold.ttf")
}
@font-face {
  font-family: 'MaruBuri-Bold';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/MaruBuri-Bold.ttf")
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'MaruBuri-Regular', 'MaruBuri-Bold', MaruBuri-semiBold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
